<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chua.starter.gen.support.mapper.SysGenColumnMapper">
  <resultMap id="BaseResultMap" type="com.chua.starter.gen.support.entity.SysGenColumn">
    <!--@mbg.generated-->
    <!--@Table sys_gen_column-->
    <id column="col_id" jdbcType="INTEGER" property="colId" />
    <result column="tab_id" jdbcType="INTEGER" property="tabId" />
    <result column="col_column_name" jdbcType="VARCHAR" property="colColumnName" />
    <result column="col_column_comment" jdbcType="VARCHAR" property="colColumnComment" />
    <result column="col_column_type" jdbcType="VARCHAR" property="colColumnType" />
    <result column="col_java_type" jdbcType="VARCHAR" property="colJavaType" />
    <result column="col_java_field" jdbcType="VARCHAR" property="colJavaField" />
    <result column="col_is_pk" jdbcType="CHAR" property="colIsPk" />
    <result column="col_is_increment" jdbcType="CHAR" property="colIsIncrement" />
    <result column="col_is_required" jdbcType="CHAR" property="colIsRequired" />
    <result column="col_is_insert" jdbcType="CHAR" property="colIsInsert" />
    <result column="col_is_edit" jdbcType="CHAR" property="colIsEdit" />
    <result column="col_is_list" jdbcType="CHAR" property="colIsList" />
    <result column="col_is_query" jdbcType="CHAR" property="colIsQuery" />
    <result column="col_query_type" jdbcType="VARCHAR" property="colQueryType" />
    <result column="col_html_type" jdbcType="VARCHAR" property="colHtmlType" />
    <result column="col_dict_type" jdbcType="VARCHAR" property="colDictType" />
    <result column="col_sort" jdbcType="INTEGER" property="colSort" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    col_id, tab_id, col_column_name, col_column_comment, col_column_type, col_java_type, 
    col_java_field, col_is_pk, col_is_increment, col_is_required, col_is_insert, col_is_edit, 
    col_is_list, col_is_query, col_query_type, col_html_type, col_dict_type, col_sort
  </sql>
</mapper>