<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chua.starter.gen.support.mapper.SysGenTableMapper">
  <resultMap id="BaseResultMap" type="com.chua.starter.gen.support.entity.SysGenTable">
    <!--@mbg.generated-->
    <!--@Table sys_gen_table-->
    <id column="tab_id" jdbcType="INTEGER" property="tabId" />
    <result column="tab_name" jdbcType="VARCHAR" property="tabName" />
    <result column="tab_desc" jdbcType="VARCHAR" property="tabDesc" />
    <result column="gen_name" jdbcType="VARCHAR" property="genName" />
    <result column="gen_id" jdbcType="INTEGER" property="genId" />
    <result column="tab_class_name" jdbcType="VARCHAR" property="tabClassName" />
    <result column="tab_package_name" jdbcType="VARCHAR" property="tabPackageName" />
    <result column="tab_module_name" jdbcType="VARCHAR" property="tabModuleName" />
    <result column="tab_business_name" jdbcType="VARCHAR" property="tabBusinessName" />
    <result column="tab_function_name" jdbcType="VARCHAR" property="tabFunctionName" />
    <result column="tab_function_author" jdbcType="VARCHAR" property="tabFunctionAuthor" />
    <result column="tab_gen_type" jdbcType="VARCHAR" property="tabGenType" />
    <result column="tab_gen_path" jdbcType="VARCHAR" property="tabGenPath" />
    <result column="tab_remark" jdbcType="VARCHAR" property="tabRemark" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    tab_id, tab_name, tab_desc, gen_name, gen_id, tab_class_name, tab_package_name, tab_module_name, 
    tab_business_name, tab_function_name, tab_function_author, tab_gen_type, tab_gen_path, 
    tab_remark
  </sql>
</mapper>