<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chua.starter.gen.support.mapper.SysGenMapper">
  <resultMap id="BaseResultMap" type="com.chua.starter.gen.support.entity.SysGen">
    <!--@mbg.generated-->
    <!--@Table sys_gen-->
    <id column="gen_id" jdbcType="INTEGER" property="genId" />
    <result column="gen_name" jdbcType="VARCHAR" property="genName" />
    <result column="gen_url" jdbcType="VARCHAR" property="genUrl" />
    <result column="gen_user" jdbcType="VARCHAR" property="genUser" />
    <result column="gen_password" jdbcType="VARCHAR" property="genPassword" />
    <result column="gen_driver" jdbcType="VARCHAR" property="genDriver" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    gen_id, gen_name, gen_url, gen_user, gen_password, gen_driver
  </sql>
</mapper>