import http from "@/api/index";
import {ResPage} from "../interface";

export interface ${BusinessName} {
    #foreach ($column in $columns)
            $column.javaField: $column.javaType;
    #end

}

export interface Req${BusinessName}Params extends ReqPage {
    name: string;
}


/**
 * 获取分组列表
 */
export function get${BusinessName}s(params: Req${BusinessName}Params) {
    return http.get<ResPage<${BusinessName}>>("/${moduleName}/${businessName}/page", params);
}

/**
 * 获取分组详情
 * @param id
 */
export function get${BusinessName}(id: number): any {
    return http.get(`/${moduleName}/${businessName}/${id}`);
}

/**
 * 创建分组
 * @param data
 */
export function create${BusinessName}(data: any) {
    return http.post("/${moduleName}/${businessName}/add", data);
}

/**
 * 修改分组
 * @param data
 */
export function update${BusinessName}(data: any) {
    return http.post<${BusinessName}>("/${moduleName}/${businessName}/update", data);
}

/**
 * 删除分组
 * @param id
 */
export function delete${BusinessName}(id: number) {
    return http.post(`/${moduleName}/${businessName}/delete/${id}`);
}
