package ${packageName}.entity;

import com.baomidou.mybatisplus.annotation.*;
import lombok.Data;
import lombok.EqualsAndHashCode;
import java.time.LocalDateTime;
import java.io.Serializable;
import java.math.BigDecimal;

#foreach ($import in $importList)
import ${import};
#end
#if($table.crud || $table.sub)
import com.tduck.cloud.common.entity.BaseEntity;
#elseif($table.tree)
import com.tduck.cloud.common.entity.TreeEntity;
#end

/**
 * ${functionName}对象 ${tableName}
 *
 * @author ${author}
 * @date ${datetime}
 */
#if($table.crud || $table.sub)
    #set($Entity="BaseEntity")
#elseif($table.tree)
    #set($Entity="TreeEntity<${ClassName}>")
#end
@Data
@EqualsAndHashCode(callSuper = true)
@TableName("${tableName}")
public class ${ClassName}Entity extends ${Entity} {

    private static final long serialVersionUID = 1L;

    #foreach ($column in $columns)
        #if(!$table.isSuperColumn($column.javaField))
            /**
             * $column.columnComment
             */
            #if($column.javaField=='delFlag')
            @TableLogic
            #end
            #if($column.javaField=='version')
            @Version
            #end
            #if($column.pk)
            @TableId(value = "$column.columnName")
            #end
        private $column.javaType $column.javaField;
        #end
    #end

}
