<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chua.starter.config.server.support.mapper.ConfigurationSubscribeInfoMapper">
  <resultMap id="BaseResultMap" type="com.chua.starter.config.server.support.entity.ConfigurationSubscribeInfo">
    <!--@mbg.generated-->
    <!--@Table configuration_subscribe_info-->
    <id column="subscribe_id" jdbcType="INTEGER" property="subscribeId" />
    <result column="subscribe_application_name" jdbcType="VARCHAR" property="subscribeApplicationName" />
    <result column="subscribe_profile" jdbcType="VARCHAR" property="subscribeProfile" />
    <result column="subscribe_type" jdbcType="VARCHAR" property="subscribeType" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    subscribe_id, subscribe_application_name, subscribe_profile, subscribe_type
  </sql>
</mapper>