import {getRequest, postRequest, putRequest, deleteRequest} from '../baseRequest'
import request from '@/api'

// 查询${functionName}列表
export const list${BusinessName} = params => getRequest('/${moduleName}/${businessName}/page', params)

// 查询${functionName}详细
export const get${BusinessName} = (${pkColumn.javaField}) => getRequest('/${moduleName}/${businessName}/' + ${pkColumn.javaField})


// 新增${functionName}
export const add${BusinessName} = data => postRequest('/${moduleName}/${businessName}/add', data)


// 修改${functionName}
export const update${BusinessName} = data => postRequest('/${moduleName}/${businessName}/update', data)


// 删除${functionName}
export const del${BusinessName} = (${pkColumn.javaField}) => postRequest('/${moduleName}/${businessName}/delete/' + ${pkColumn.javaField})


// 导出${functionName}
export const export${BusinessName} = params => {
    return request({
        url: '/${moduleName}/${businessName}/export',
        method: 'get',
        params: params,
        responseType: 'blob'
    })
}

